# Streamlit
streamlit>=1.28.0
streamlit-folium

# Data processing
pandas>=2.0.0
numpy>=1.26.0
scikit-learn
openpyxl
nltk
gensim

# Visualization
matplotlib>=3.8.0
seaborn>=0.12.2
wordcloud
plotly
folium
pillow>=10.0.0

# ML / DL
tensorflow
torch
transformers
peft
sentence-transformers
faiss-cpu
tqdm
xgboost

# HuggingFace API
huggingface-hub
