streamlit>=1.28.0
streamlit-folium
pandas>=2.0.0
numpy>=1.26.0
scikit-learn
matplotlib>=3.8.0
seaborn>=0.12.2
xgboost
wordcloud
pillow>=10.0.0
nltk
gensim
folium
plotly
openpyxl
tensorflow
torch
transformers
faiss-cpu
tqdm
peft
ollama
sentence-transformers
